@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);
@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script);
@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah);

.cp-montserrat{
  font-family: 'Montserrat', sans-serif;
}
.cp-lobster{
  font-family: 'Lobster', cursive;
}
.cp-yanone{
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
.cp-indie{
  font-family: 'Indie Flower', cursive;
}
.cp-shadows{
  font-family: 'Shadows Into Light', cursive;
}
.cp-poiret{
  font-family: 'Poiret One', cursive;
}
.cp-dancing{
  font-family: 'Dancing Script', cursive;
}
.cp-pacifico{
  font-family: 'Pacifico', cursive;
}
.cp-gloria{
  font-family: 'Gloria Hallelujah', cursive;
}
