
/* Content */
/* line 75, ../scss/styles.scss */
#cp-content {
  width: 682px;
  background: #f6f6f6;
  border: 3px solid white;
  overflow: hidden;
  position: relative;
  z-index: 2;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 10px;
  -webkit-transition-property: width;
  -moz-transition-property: width;
  -o-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  /* Head Content */
}
/* line 86, ../scss/styles.scss */
#cp-content #cp-head {
  height: 70px;
  background: #fff;
  /* Title Steps */
}
/* line 90, ../scss/styles.scss */
#cp-content #cp-head #cp-title-step {
  padding: 0 0 0 22px;
  float: left;
}
/* line 93, ../scss/styles.scss */
#cp-content #cp-head #cp-title-step li {
  display: none;
  clear: both;
}
/* line 96, ../scss/styles.scss */
#cp-content #cp-head #cp-title-step li i {
  color: #4c4c4c;
  height: 70px;
  line-height: 70px;
  display: inline-block;
  float: left;
}
/* line 103, ../scss/styles.scss */
#cp-content #cp-head #cp-title-step li .fa-angle-down {
  margin-left: 5px;
}
/* line 106, ../scss/styles.scss */
#cp-content #cp-head #cp-title-step li span {
  color: #4c4c4c;
  font-size: 18px;
  font-weight: bold;
  float: left;
  height: 70px;
  line-height: 67px;
  margin-left: 12px;
}
/* line 115, ../scss/styles.scss */
#cp-content #cp-head #cp-title-step li samp {
  float: left;
}
/* line 119, ../scss/styles.scss */
#cp-content #cp-head #cp-title-step .cp-show {
  display: block;
}
/* line 123, ../scss/styles.scss */
#cp-content #cp-head #cp-link-step {
  float: right;
  width: 170px;
  position: relative;
  height: 50px;
  margin: 6px 10px 0 0;
}
/* line 129, ../scss/styles.scss */
#cp-content #cp-head #cp-link-step li {
  float: left;
  margin-right: 54px;
  position: relative;
  z-index: 2;
}
/* line 134, ../scss/styles.scss */
#cp-content #cp-head #cp-link-step li a {
  display: block;
  height: 50px;
  position: relative;
  cursor: default;
}
/* line 139, ../scss/styles.scss */
#cp-content #cp-head #cp-link-step li a i {
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 143, ../scss/styles.scss */
#cp-content #cp-head #cp-link-step li a .fa-mobile {
  font-size: 34px;
  display: block;
  color: #4c4c4c;
}
/* line 148, ../scss/styles.scss */
#cp-content #cp-head #cp-link-step li a .fa-square-o, #cp-content #cp-head #cp-link-step li a .fa-check-square {
  position: absolute;
  bottom: 0;
  left: -1px;
  color: #4c4c4c;
  font-size: 16px;
  padding: 0 2px;
  background: #fff;
}
/* line 157, ../scss/styles.scss */
#cp-content #cp-head #cp-link-step li a .fa-check-square {
  display: none;
  color: #333333;
}
/* line 161, ../scss/styles.scss */
#cp-content #cp-head #cp-link-step li a .fa-th {
  font-size: 20px;
  display: block;
  color: #4c4c4c;
  margin-left: -4px;
  padding: 10px 0 0;
}
/* line 168, ../scss/styles.scss */
#cp-content #cp-head #cp-link-step li a .fa-picture-o {
  font-size: 20px;
  display: block;
  color: #4c4c4c;
  margin-left: -5px;
  padding: 10px 0 0;
}
/* line 178, ../scss/styles.scss */
#cp-content #cp-head #cp-link-step .cp-current-step a .fa-mobile, #cp-content #cp-head #cp-link-step .cp-current-step a .fa-th, #cp-content #cp-head #cp-link-step .cp-current-step a .fa-picture-o {
  color: #333333;
}
/* line 181, ../scss/styles.scss */
#cp-content #cp-head #cp-link-step .cp-current-step a a {
  cursor: pointer;
}
/* line 186, ../scss/styles.scss */
#cp-content #cp-head #cp-link-step .cp-active .fa-check-square {
  display: block;
}
/* line 189, ../scss/styles.scss */
#cp-content #cp-head #cp-link-step .cp-active a {
  cursor: pointer;
}
/* line 193, ../scss/styles.scss */
#cp-content #cp-head #cp-link-step .cp-active a:hover .fa-mobile, #cp-content #cp-head #cp-link-step .cp-active a:hover .fa-th, #cp-content #cp-head #cp-link-step .cp-active a:hover .fa-picture-o {
  color: #333333;
}
/* line 198, ../scss/styles.scss */
#cp-content #cp-head #cp-link-step .cp-last {
  margin-right: 0px;
}
/* line 201, ../scss/styles.scss */
#cp-content #cp-head #cp-link-step .cp-sep {
  overflow: hidden;
  left: 0;
  bottom: 7px;
  background: #a3a3a3;
  height: 2px;
  z-index: 0;
  position: absolute;
  width: 150px;
  margin-right: 0;
}
/* line 213, ../scss/styles.scss */
#cp-content #cp-head #cp-link-step #cp-st-2 .fa-square-o, #cp-content #cp-head #cp-link-step #cp-st-2 .fa-check-square, #cp-content #cp-head #cp-link-step #cp-st-3 .fa-square-o, #cp-content #cp-head #cp-link-step #cp-st-3 .fa-check-square {
  left: -2px;
}
/* line 219, ../scss/styles.scss */
#cp-content #cp-start {
  padding: 30px 0 0;
}
/* line 221, ../scss/styles.scss */
#cp-content #cp-start .cp-row {
  display: table;
  height: 170px;
}
/* line 224, ../scss/styles.scss */
#cp-content #cp-start .cp-row .cp-brand {
  width: 126px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
/* line 229, ../scss/styles.scss */
#cp-content #cp-start .cp-row .cp-brand i {
  font-size: 40px;
  color: #a3a3a3;
}
/* line 234, ../scss/styles.scss */
#cp-content #cp-start .cp-row .cp-device {
  display: table-cell;
  vertical-align: bottom;
}
/* line 237, ../scss/styles.scss */
#cp-content #cp-start .cp-row .cp-device li {
  display: table-cell;
  text-align: center;
  vertical-align: bottom;
  padding-right: 24px;
}
/* line 242, ../scss/styles.scss */
#cp-content #cp-start .cp-row .cp-device li a {
  display: block;
}
/* line 245, ../scss/styles.scss */
#cp-content #cp-start .cp-row .cp-device li img {
  display: block;
  margin: 0 auto 5px;
}
/* line 249, ../scss/styles.scss */
#cp-content #cp-start .cp-row .cp-device li span {
  font-size: 13px;
  color: #a3a3a3;
}
/* line 254, ../scss/styles.scss */
#cp-content #cp-start .cp-row .cp-device li a:hover span {
  color: #333333;
}
/* line 262, ../scss/styles.scss */
#cp-content .none {
  display: none;
}
/* line 265, ../scss/styles.scss */
#cp-content #cp-customize-device {
  min-height: 455px;
  position: relative;
  overflow: hidden;
}
/* line 269, ../scss/styles.scss */
#cp-content #cp-customize-device #cp-sel-Device {
  padding-top: 18px;
  margin-bottom: 20px;
}
/* line 273, ../scss/styles.scss */
#cp-device-ori, #cp-device-ori-gen {
  margin: 0 auto;
  width: 282px;
  position: relative;
  overflow: hidden;
}
#cp-device-ori-gen .cp-h-v{
  display: none !important;
}

/* line 295, ../scss/styles.scss */
#cp-content #cp-customize-device .cp-btn-action {
  position: absolute;
  left: 40px;
  top: 375px;
  display: none;
}
/* line 300, ../scss/styles.scss */
#cp-content #cp-customize-device .cp-btn-action a {
  font-size: 15px;
  color: #4c4c4c;
  float: left;
  clear: both;
  margin-bottom: 15px;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 308, ../scss/styles.scss */
#cp-content #cp-customize-device .cp-btn-action a i {
  color: #c6c6c6;
  font-size: 19px;
  margin-right: 12px;
  position: relative;
  top: 2px;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 318, ../scss/styles.scss */
#cp-content #cp-customize-device .cp-btn-action a:hover, #cp-content #cp-customize-device .cp-btn-action a:hover i {
  color: #333333;
}
/* line 322, ../scss/styles.scss */
#cp-content #cp-customize-device .cp-btn-action .cp-btn-shuffle i {
  margin-right: 9px;
}
/* line 328, ../scss/styles.scss */
#cp-content #cp-sel-layout {
  position: relative;
  left: 30px;
  bottom: 0;
  width: 830px;
  overflow: hidden;
  height: 100px;
}
/* line 335, ../scss/styles.scss */
#cp-content #cp-sel-layout ul {
  height: 100px;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 341, ../scss/styles.scss */
#cp-content #cp-sel-layout li {
  background-color: #f1f1f1;
  border-radius: 2px;
  cursor: pointer;
  float: left;
  height: 99px;
  margin: 0 2px 0 0;
  width: 94px;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 351, ../scss/styles.scss */
#cp-content #cp-sel-layout li a {
  display: table-cell;
  height: 99px;
  text-align: center;
  vertical-align: middle;
  width: 94px;
}
/* line 359, ../scss/styles.scss */
#cp-content #cp-sel-layout li:hover, #cp-content #cp-sel-layout li.cp-active {
  background: rgba(51, 51, 51, 0.3);
}
/* line 362, ../scss/styles.scss */
#cp-content #cp-sel-layout li.cp-active a {
  cursor: default;
}
/* line 366, ../scss/styles.scss */
#cp-content #cp-sel-Photos {
  position: relative;
  left: 110%;
  bottom: 5px;
  width: 100%;
  display: none;
  margin-top: -95px;
  top: 8px;
  background: url(../../img/fnd_sel_ph.png);
  overflow: hidden;
}
/* line 376, ../scss/styles.scss */
#cp-content #cp-sel-Photos .jscroll {
  width: 100%;
  float: left;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin-top: -80px;
}
/* line 384, ../scss/styles.scss */
#cp-content #cp-sel-Photos ul {
  overflow: hidden;
}
/* line 388, ../scss/styles.scss */
#cp-content #cp-sel-Photos .cp-first-el {
  background: #f6f6f6 !important;
}
/* line 391, ../scss/styles.scss */
.cp-btn-more-pic {
  width: 80%;
  height: 45px;
  position: relative;
  padding-left: 50px;
  line-height: 45px;
  z-index: 2;
  background-color: #f2f2f2;
  border-color: #ccc;
  color: #666;
  margin:0 auto 10px;
  display: block;
}
.cp-btn-more-pic #uniform-fileupload{
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  opacity:0;
  width: 100%;
  filter:alpha(opacity = 0);
}
/* line 402, ../scss/styles.scss */
.cp-btn-more-pic .cp-loader-number {
    bottom: 0;
    color: #333;
    display: block !important;
    font-family: arial;
    font-size: 10px;
    position: absolute;
    right: 7px;
    text-align: center;
    z-index: 10;
}
/* line 413, ../scss/styles.scss */
.cp-btn-more-pic #cp-img-lo-w {
    bottom: 0;
    display: none !important;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 30;
    width: 100%;
}
/* line 422, ../scss/styles.scss */
.cp-btn-more-pic #cp-img-lo-w #cp-img-lo {
    bottom: 15px;
    color: #333;
    font-size: 13px;
    position: absolute;
    right: 10px;
    z-index: 10;
}
/* line 432, ../scss/styles.scss */
.cp-btn-more-pic .fa-picture-o ,#btn-instagram i{
    color: #666;
    float: left;
    font-size: 18px;
    left: 22px;
    position: absolute;
    top: 14px;
}
#btn-instagram,#btn-instagram i{
  background-color: #2a4375;
  color: #fff;
}
/* line 436, ../scss/styles.scss */
.cp-btn-more-pic .fa-plus {
  position: absolute;
  top: 21px;
  right: 20px;
  color: #4c4c4c;
  background-color: #fff;
  font-size: 13px;
}
/* line 445, ../scss/styles.scss */
.cp-btn-more-pic:hover {
  border-color: #333 !important;
  background: #333 !important;
  color: #fff !important;
}
.cp-btn-more-pic:hover *{
  color: #fff !important;
  border-color: #333 !important;
}
/* line 448, ../scss/styles.scss */
.cp-btn-more-pic:hover .fa-picture-o, #cp-content #cp-sel-Photos .cp-btn-more-pic:hover .fa-plus {
  color: #fff;
  background: #333;
}
/* line 453, ../scss/styles.scss */
.cp-btn-more-instag {
  float: left;
  width: 80px;
  height: 80px;
}
/* line 459, ../scss/styles.scss */
#cp-sel-Photos li {
  float: left;
  width: 91px;
  height: 88px;
  border:2px solid #f6f6f6;
  border-width: 0 2px 2px 0;
  overflow: hidden; 
}
#cp-sel-Photos li:nth-child(4n+0){
  border-right:0;
}
/* line 465, ../scss/styles.scss */
#cp-sel-Photos li a {
  display: block;
  position: relative;
  height: 88px;
  width: 88px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 471, ../scss/styles.scss */
#cp-sel-Photos li a img {
  display: none;
}
.jscroll {
    margin-left: 4px;
    overflow: hidden;
    padding-top: 8px;
}
/* line 474, ../scss/styles.scss */
#cp-sel-Photos li a i {
  width: 88px;
  height: 88px;
  font-size: 24px;
  text-align: center;
  line-height: 88px;
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
   background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
}
/* line 489, ../scss/styles.scss */
#cp-sel-Photos li a:hover i {
  display: block;
}
/* line 501, ../scss/styles.scss */
#cp-sel-Text #cp-textarea {
  position: relative;
  width: 80%;
  overflow: hidden;
  margin:0 auto 19px;
}
/* line 508, ../scss/styles.scss */
#cp-sel-Text #cp-textarea #cp-size-txt {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  overflow: hidden;
}
/* line 516, ../scss/styles.scss */
#cp-sel-Text #cp-textarea .cp-input-txt {
  -webkit-appearance: none;
}
/* line 517, ../scss/styles.scss */
#cp-sel-Text #cp-textarea textarea:focus, #cp-content #cp-sel-Text #cp-textarea input:focus {
  outline: 0;
}
/* line 521, ../scss/styles.scss */
#cp-sel-Text .cp-tit-txt {
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: #4c4c4c;
  margin-bottom: 20px;
}
/* line 527, ../scss/styles.scss */
#cp-sel-Text .cp-tit-txt i {
  font-size: 20px;
  margin-right: 15px;
  color: #4c4c4c;
}
/* line 533, ../scss/styles.scss */
#cp-sel-Text .cp-input-txt {
  background: #fff;
  border: 0;
  height: 80px;
  padding: 10px 10px 35px 10px;
  width: 100%;
  display: block;
  font-size: 12px;
  color: #4c4c4c;
  resize: none;
  overflow: hidden;
  margin: 0 auto;
  border:2px solid #f6f6f6;
}
/* line 547, ../scss/styles.scss */
#cp-sel-Text .cp-btn-save {
  width: 215px;
  height: 56px;
  background-color: #333333;
  text-align: center;
  line-height: 56px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  display: block;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 560, ../scss/styles.scss */
#cp-sel-Text .cp-btn-save:hover {
  background-color: #12bac9;
}
/* line 564, ../scss/styles.scss */
.cp-list-color {
  clear: both;
  width: 100%;
  overflow: hidden;
  padding-left: 3px;
}
/* line 569, ../scss/styles.scss */
.cp-list-color a {
  width: 21px !important;
  height: 21px;
  background: #fff;
  margin-left: 4px;
  margin-bottom: 4px;
  float: left;
  border: 1px solid #f6f6f6;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 581, ../scss/styles.scss */
.cp-list-color a:hover,.cp-list-color a.cp-active-color-t {
  border: 3px solid #333;
}
/* line 584, ../scss/styles.scss */
.cp-list-color .noir {
  background-color: #000;
}
/* line 587, ../scss/styles.scss */
.cp-list-color .gris {
  background-color: #818080;
}
/* line 590, ../scss/styles.scss */
.cp-list-color .blanc {
  background-color: #fff;
}
/* line 593, ../scss/styles.scss */
.cp-list-color .marron {
  background-color: #976b01;
}
/* line 596, ../scss/styles.scss */
.cp-list-color .bleu {
  background-color: #3498db;
}
/* line 599, ../scss/styles.scss */
.cp-list-color .vert {
  background-color: #2ecc71;
}
/* line 602, ../scss/styles.scss */
.cp-list-color .jaune {
  background-color: #f1c40f;
}
/* line 605, ../scss/styles.scss */
.cp-list-color .rose {
  background-color: #f613d9;
}
/* line 608, ../scss/styles.scss */
.cp-list-color .rouge {
  background-color: #e74c3c;
}
/* line 611, ../scss/styles.scss */
.cp-list-color .orange {
  background-color: #e67e22;
}
/* line 614, ../scss/styles.scss */
.cp-list-color .gris-f {
  background-color: #bdc3c7;
}
.cp-list-color .turk {
  background-color: #1abc9c;
}
/* line 620, ../scss/styles.scss */
.cp-list-color .orange-c {
  background-color: #f39c12;
}
/* line 623, ../scss/styles.scss */
.cp-list-color .wet {
  background-color: #34495e;
}
/* line 626, ../scss/styles.scss */
.cp-list-color .cp-active-color-t {
  border-color: #333333;
}
/* line 630, ../scss/styles.scss */
.cp-list-font {
  overflow: hidden;
  margin-bottom: 19px;
  position: relative;
}
/* line 635, ../scss/styles.scss */
.cp-list-font a {
    background: #f6f6f6 none repeat scroll 0 0;
    border: 1px solid #fff;
    float: left;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    width: 25%;
}
/* line 647, ../scss/styles.scss */
.cp-list-font a:hover, .cp-list-font a.active {
  background: #333;
  color: #fff;
}
/* line 652, ../scss/styles.scss */
#cp-size-txt {
  clear: both;
  overflow: hidden;
  background: #f6f6f6;
}
/* line 657, ../scss/styles.scss */
#cp-size-txt li {
  float: left;
  width: 33.33%;
}
/* line 660, ../scss/styles.scss */
#cp-size-txt li a {
  color: #333;
  font-size: 12px;
  width: 100%;
  float: left;
  text-align: center;
  line-height: 20px;
  height: 20px;
  font-size: 13px;
}
/* line 670, ../scss/styles.scss */
#cp-size-txt li .active {
  background: none repeat scroll 0 0 #333;
  color: #fff;
  cursor: default;
}
/* line 675, ../scss/styles.scss */
#cp-size-txt li a:hover {
  background: #333;
  color: #fff;
}

/* line 684, ../scss/styles.scss */
#cp-device-ori-gen {
  left: 280px;
  position: absolute !important;
  top: 22px;
  z-index: 1;
}
#mycase .columns-container{
  background: none;
}
/* line 690, ../scss/styles.scss */
#cp-input-gen {
  position: absolute;
  left: 40px;
  top: 100px;
  z-index: 40;
  display: block;
  overflow: hidden;
  cursor: all-scroll;
  background: none !important;
  border: 0 !important;
}

/* line 699, ../scss/styles.scss */
.s-t {
  font-size: 16px;
}

/* line 702, ../scss/styles.scss */
.m-t {
  font-size: 28px;
}

/* line 705, ../scss/styles.scss */
.g-t {
  font-size: 38px;
}

/* line 708, ../scss/styles.scss */
.text-danger {
  color: #a94442;
}

/* line 712, ../scss/styles.scss */
.col-md-6 .col-md-6.sqr .cp-h-v, .col-md-3.sqr .cp-h-v, .col-md-3 .sqr.col-md-12 .cp-h-v {
  margin-top: 0 !important;
  top: 4px !important;
}
/* line 716, ../scss/styles.scss */
.col-md-6 .col-md-6.sqr .cp-modify, .col-md-3.sqr .cp-modify, .col-md-3 .sqr.col-md-12 .cp-modify {
  margin-right: 0 !important;
}

/* line 720, ../scss/styles.scss */
.sqr .wrap-img-drag {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-position: center;
}
/* line 728, ../scss/styles.scss */
.sqr .wrap-img-drag img {
  display: none;
  max-width: inherit !important;
}
/* line 731, ../scss/styles.scss */
.sqr .wrap-img-drag .cp-h-v {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  margin-top: -15px;
  z-index: 11;
  -webkit-transition-property: display;
  -moz-transition-property: display;
  -o-transition-property: display;
  transition-property: display;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  text-align: center;
}
/* line 742, ../scss/styles.scss */
.sqr .wrap-img-drag .cp-modify {
  margin: 0 10px 0 0;
}
/* line 744, ../scss/styles.scss */
.sqr .wrap-img-drag .cp-modify .fa-circle {
  color: #333333;
}
/* line 749, ../scss/styles.scss */
.sqr .wrap-img-drag .cp-modify:hover .fa-circle {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}

/* line 754, ../scss/styles.scss */
#cp-btn-delete {
  background: #e95b4c !important;
  border-color: #e95b4c !important;
}

/* line 758, ../scss/styles.scss */
#cp-btn-delete:hover {
  background: #c0392b !important;
  border-color: #c0392b !important;
}

/* line 762, ../scss/styles.scss */
#cp-main{
  width: 2000px;
  position: relative;
  overflow: hidden;
}
/* line 766, ../scss/styles.scss */
#cp-start, #cp-customize-device {
  width: 682px;
  float: left;
}
/* line 770, ../scss/styles.scss */
#cp-customize-device {
  display: none;
  width: 830px !important;
}
/* line 774, ../scss/styles.scss */
#cp-img-coque {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
}
/* line 780, ../scss/styles.scss */
#cp-mask-img {
  position: relative;
  z-index: 30;
  left: 0;
  top: 0;
}
/* line 786, ../scss/styles.scss */
#cp-device-ori, #cp-device-ori-prev {
  background: #fff;
}
/* line 789, ../scss/styles.scss */
#cp-gridme-cover .cp-cibled-row {
  background: no-repeat !important;
}
/* line 792, ../scss/styles.scss */
#cp-gridme, #cp-gridme-cover {
  position: absolute;
  z-index: 29;
  left: 1px;
  top: 1px;
  bottom: 1px;
  right: 1px;
}
/* line 799, ../scss/styles.scss */
#cp-gridme .container-fluid, #cp-gridme-cover .container-fluid {
  height: 100%;
  width: 100%;
}
/* line 803, ../scss/styles.scss */
#cp-gridme .col-md-6, #cp-gridme-cover .col-md-6 {
  width: 50%;
  float: left;
}
/* line 807, ../scss/styles.scss */
#cp-gridme .col-md-9, #cp-gridme-cover .col-md-9 {
  width: 75%;
  float: left;
}
/* line 811, ../scss/styles.scss */
#cp-gridme .col-md-3, #cp-gridme-cover .col-md-3 {
  width: 25%;
  float: left;
}
/* line 815, ../scss/styles.scss */
#cp-gridme .col-md-12, #cp-gridme-cover .col-md-12 {
  width: 100%;
  float: left;
}
/* line 819, ../scss/styles.scss */
#cp-gridme .sqr, #cp-gridme-cover .sqr {
  outline: 5px solid rgba(0, 0, 0, 0.04);
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  padding: 0 !important;
}
/* line 825, ../scss/styles.scss */
#cp-gridme .sqr {
  visibility: visible !important;
}
/* line 828, ../scss/styles.scss */
#cp-gridme .wrap-img-drag {
  visibility: visible !important;
}
/* line 832, ../scss/styles.scss */
#cp-gridme-cover:hover .sqr {
  visibility: visible !important;
}
/* line 836, ../scss/styles.scss */
#cp-gridme-cover {
  z-index: 32;
}
/* line 838, ../scss/styles.scss */
#cp-gridme-cover .cp-modify {
  -webkit-transition-property: font;
  -moz-transition-property: font;
  -o-transition-property: font;
  transition-property: font;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 842, ../scss/styles.scss */
#cp-gridme-cover .sqr {
  outline: 5px solid rgba(51, 51, 51, 0.06);
  visibility: hidden;
}
/* line 846, ../scss/styles.scss */
#cp-gridme-cover .wrap-img-drag {
  display: block;
  background: none !important;
}
/* line 849, ../scss/styles.scss */
#cp-gridme-cover .wrap-img-drag img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  z-index: 10 !important;
}
/* line 854, ../scss/styles.scss */
#cp-gridme-cover .no-visible {
  visibility: hidden;
}
/* line 861, ../scss/styles.scss */
#cp-gridme-cover .sqr:hover .wrap-img-drag {
  visibility: visible;
}
/* line 866, ../scss/styles.scss */
#cp-img-coque img, #cp-mask-img img {
  width: 100%;
  display: block;
}
/* line 870, ../scss/styles.scss */
.cp-cibled-row {
  background: rgba(51, 51, 51, 0.3);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}

/* line 875, ../scss/styles.scss */
#cp-crop-image {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgba(246, 246, 246, 0.98);
  z-index: 200;
  width: 100%;
  display: none;
}
.eg-button a{
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #333;
}
.eg-button a:hover{
  opacity: .9;
  filter:alpha(opacity=90);
}
/* line 884, ../scss/styles.scss */
#cp-crop-image #cp-cropit-me {
  margin: 0 auto 0;
  position: relative;
  top: 10px;
  width: 462px;
}
/* line 889, ../scss/styles.scss */
#cp-crop-image #cp-cropit-me .cropit {
  position: relative;
}
/* line 892, ../scss/styles.scss */
#cp-crop-image #cp-cropit-me .sliceCenter {
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}
/* line 896, ../scss/styles.scss */
#cp-crop-image #cp-cropit-me .btn-crop-me {
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -ms-border-radius: 0 0 10px 10px;
  -o-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}
/* line 900, ../scss/styles.scss */
#cp-crop-image #cp-cropit-me .btn-crop-me a {
  float: left;
  width: 50%;
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 20px;
  color: #fff;
}

/* line 912, ../scss/styles.scss */
.cp-delete-fast .fa-camera {
  color: #fff;
}

/* line 916, ../scss/styles.scss */
.text-danger {
  color: #e74c3c;
}

/* line 920, ../scss/styles.scss */
.cp-delete-fast:hover .text-danger {
  color: #c0392b;
}

/* line 924, ../scss/styles.scss */
.turk {
  color: #1abc9c;
}

/* line 927, ../scss/styles.scss */
.gris-f {
  color: #bdc3c7;
}

/* line 930, ../scss/styles.scss */
.orange {
  color: #e67e22;
}

/* line 933, ../scss/styles.scss */
.noir {
  color: #000;
}

/* line 936, ../scss/styles.scss */
.gris {
  color: #818080;
}

/* line 939, ../scss/styles.scss */
.blanc {
  color: #fff;
}

/* line 942, ../scss/styles.scss */
.marron {
  color: #976b01;
}

/* line 945, ../scss/styles.scss */
.bleu {
  color: #3498db;
}

/* line 948, ../scss/styles.scss */
.vert {
  color: #2ecc71;
}

/* line 951, ../scss/styles.scss */
.jaune {
  color: #f1c40f;
}

/* line 954, ../scss/styles.scss */
.rose {
  color: #f613d9;
}

/* line 957, ../scss/styles.scss */
.rouge {
  color: #e74c3c;
}

/* line 960, ../scss/styles.scss */
.orange-c {
  color: #f39c12;
}

/* line 963, ../scss/styles.scss */
.wet {
  color: #34495e;
}

/* line 966, ../scss/styles.scss */
.fileinput-button {
  position: relative;
  overflow: hidden;
}

/* line 970, ../scss/styles.scss */
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
  /* line 983, ../scss/styles.scss */
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}
/* line 989, ../scss/styles.scss */
#cp-nav-btn {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -19px;
  width: 100%;
}
/* line 995, ../scss/styles.scss */
#cp-nav-btn a {
  font-size: 36px;
  color: #f6f6f6;
  float: left;
  margin: 0 0 0 -41px;
  display: none;
}
/* line 1002, ../scss/styles.scss */
#cp-nav-btn .cp-btn-s {
  float: right;
  margin: 0 -46px 0 0;
}
/* line 1006, ../scss/styles.scss */
#cp-nav-btn a:hover {
  color: #333333;
}

/* Cropper  */
/* line 1012, ../scss/styles.scss */
.eg-wrapper {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.68);
  border: 1px solid gainsboro;
  height: 460px;
  overflow: hidden;
  width: 460px;
  clear: both;
}

/* line 1020, ../scss/styles.scss */
.eg-wrapper:after {
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.9);
}

/* line 1024, ../scss/styles.scss */
.eg-wrapper img {
  width: 100%;
}

/* line 1028, ../scss/styles.scss */
.preview {
  float: left;
  overflow: hidden;
}

/* line 1033, ../scss/styles.scss */
.preview-lg {
  width: 290px;
  height: 400px;
}

/* line 1038, ../scss/styles.scss */
.eg-button {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 15px;
  text-align: center;
}
/* line 1043, ../scss/styles.scss */
.eg-button .fa-square {
  font-size: 30px;
  color: rgba(51, 51, 51, 0.6);
}
/* line 1047, ../scss/styles.scss */
.eg-button .fa-stack-2x {
  font-size: 16px !important;
  color: #fff;
  height: 2em;
  left: 2px;
  line-height: 1.9em;
  position: absolute;
  text-align: center;
  top: 0;
  width: 75%;
}
/* line 1059, ../scss/styles.scss */
.eg-button a:hover .fa-square {
  font-size: 30px;
  color: #333333;
}

/* line 1065, ../scss/styles.scss */
.cp-preview {
  position: absolute !important;
  right: -169px;
  top: 49px;
  width: 150px !important;
}

/* line 1071, ../scss/styles.scss */
#cp-device-ori-prev {
  width: 100%;
}
/* line 1073, ../scss/styles.scss */
#cp-device-ori-prev .wrap-img-drag {
  background: none !important;
}
/* line 1076, ../scss/styles.scss */
#cp-device-ori-prev #cp-gridme-cover, #cp-device-ori-prev #cp-input-gen {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 1078, ../scss/styles.scss */
#cp-device-ori-prev #cp-gridme-cover .wrap-img-drag, #cp-device-ori-prev #cp-input-gen .wrap-img-drag {
  display: none;
}

/* line 1083, ../scss/styles.scss */
.cp-wpreviw {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: block;
}
/* line 1090, ../scss/styles.scss */
.cp-wpreviw img {
  display: block !important;
}

/* line 1094, ../scss/styles.scss */
#cp-nav-r {
  margin: 0 auto 20px;
  overflow: hidden;
  width: 213px;
}
/* line 1098, ../scss/styles.scss */
#cp-nav-r li {
  float: left;
  margin-right: 11px;
}
/* line 1101, ../scss/styles.scss */
#cp-nav-r li a {
  background: none repeat scroll 0 0 rgba(51, 51, 51, 0.6);
  border: 1px solid rgba(51, 51, 51, 0.6);
  color: #fff;
  transition: color 0.3s ease-out 0s, border 0.3s ease-out 0s;
  font-size: 12px;
  height: 28px;
  line-height: 28px;
  padding: 0 14px;
  float: left;
}
/* line 1113, ../scss/styles.scss */
#cp-nav-r li a:hover {
  background: none repeat scroll 0 0 #333333;
  border: 1px solid #333333;
}

/* line 1119, ../scss/styles.scss */
.cp-show-a-crop {
  display: block !important;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  position: relative;
}

/* line 1124, ../scss/styles.scss */
#cp-device-ori-prev .cp-show-a-crop {
  display: none !important;
}

/* line 1128, ../scss/styles.scss */
#cp-gridme .wrap-img-drag a {
  display: none !important;
}

/* alertify */
/* line 1134, ../scss/styles.scss */
.alertify,
.alertify-show,
.alertify-log {
  -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* easeOutBack */
}

/* line 1141, ../scss/styles.scss */
.alertify-hide {
  -webkit-transition: all 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -moz-transition: all 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -ms-transition: all 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -o-transition: all 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: all 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  /* easeInBack */
}

/* line 1148, ../scss/styles.scss */
.alertify-log-hide {
  -webkit-transition: all 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -moz-transition: all 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -ms-transition: all 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -o-transition: all 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: all 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  /* easeInBack */
}

/* line 1155, ../scss/styles.scss */
.alertify-cover {
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  filter: alpha(opacity=0);
  opacity: 0;
}

/* line 1162, ../scss/styles.scss */
.alertify-cover-hidden {
  display: none;
}

/* line 1165, ../scss/styles.scss */
.alertify {
  position: fixed;
  z-index: 99999;
  top: 50px;
  left: 50%;
  width: 550px;
  margin-left: -275px;
  opacity: 1;
}

/* line 1172, ../scss/styles.scss */
.alertify-hidden {
  -webkit-transform: translate(0, -150px);
  -moz-transform: translate(0, -150px);
  -ms-transform: translate(0, -150px);
  -o-transform: translate(0, -150px);
  transform: translate(0, -150px);
  opacity: 0;
  display: none;
}

/* overwrite display: none; for everything except IE6-8 */
/* line 1182, ../scss/styles.scss */
:root * > .alertify-hidden {
  display: block;
  visibility: hidden;
}

/* line 1186, ../scss/styles.scss */
.alertify-logs {
  position: fixed;
  z-index: 5000;
  bottom: 10px;
  right: 10px;
  width: 300px;
}

/* line 1193, ../scss/styles.scss */
.alertify-logs-hidden {
  display: none;
}

/* line 1196, ../scss/styles.scss */
.alertify-log {
  display: block;
  margin-top: 10px;
  position: relative;
  right: -300px;
  opacity: 0;
}

/* line 1203, ../scss/styles.scss */
.alertify-log-show {
  right: 0;
  opacity: 1;
}

/* line 1207, ../scss/styles.scss */
.alertify-log-hide {
  -webkit-transform: translate(300px, 0);
  -moz-transform: translate(300px, 0);
  -ms-transform: translate(300px, 0);
  -o-transform: translate(300px, 0);
  transform: translate(300px, 0);
  opacity: 0;
}

/* line 1215, ../scss/styles.scss */
.alertify-dialog {
  padding: 25px;
}

/* line 1218, ../scss/styles.scss */
.alertify-resetFocus {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 1228, ../scss/styles.scss */
.alertify-inner {
  text-align: center;
}

/* line 1231, ../scss/styles.scss */
.alertify-text {
  margin-bottom: 15px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
}

/* line 1242, ../scss/styles.scss */
.alertify-button,
.alertify-button:hover,
.alertify-button:active,
.alertify-button:visited {
  background: none;
  text-decoration: none;
  border: none;
  /* line-height and font-size for input button */
  line-height: 1.5;
  font-size: 100%;
  display: inline-block;
  cursor: pointer;
  margin-left: 5px;
}

@media only screen and (max-width: 680px) {
  /* line 1256, ../scss/styles.scss */
  .alertify,
  .alertify-logs {
    width: 90%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 1262, ../scss/styles.scss */
  .alertify {
    left: 5%;
    margin: 0;
  }
}
/**
 * Default Look and Feel
 */
/* line 1271, ../scss/styles.scss */
.alertify,
.alertify-log {
  font-family: sans-serif;
}

/* line 1274, ../scss/styles.scss */
.alertify {
  background: #f6f6f6;
  border: 10px solid #333333;
}

/* line 1284, ../scss/styles.scss */
.alertify-text {
  border: 1px solid #cccccc;
  padding: 10px;
}

/* line 1289, ../scss/styles.scss */
.alertify-button {
  color: #FFF;
  font-weight: bold;
  padding: 6px 15px;
  text-decoration: none;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  background-image: linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
}

/* line 1304, ../scss/styles.scss */
.alertify-button:hover,
.alertify-button:focus {
  outline: none;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}

/* line 1312, ../scss/styles.scss */
.alertify-button:focus {
  box-shadow: 0 0 15px #2b72d5;
}

/* line 1315, ../scss/styles.scss */
.alertify-button:active {
  position: relative;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

/* line 1321, ../scss/styles.scss */
.alertify-button-cancel,
.alertify-button-cancel:hover,
.alertify-button-cancel:focus {
  background-color: #333333;
  border: 1px solid #333333;
}

/* line 1327, ../scss/styles.scss */
.alertify-button-ok,
.alertify-button-ok:hover,
.alertify-button-ok:focus {
  background-color: #333333;
  border: 1px solid #333333;
}

/* line 1332, ../scss/styles.scss */
.alertify-log {
  background: #1F1F1F;
  background: rgba(0, 0, 0, 0.9);
  padding: 15px;
  border-radius: 4px;
  color: #FFF;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
}

/* line 1340, ../scss/styles.scss */
.alertify-log-error {
  background: #FE1A00;
  background: rgba(254, 26, 0, 0.9);
}

/* line 1344, ../scss/styles.scss */
.alertify-log-success {
  background: #5CB811;
  background: rgba(92, 184, 17, 0.9);
}

/* line 1348, ../scss/styles.scss */
.alertify-message {
  text-align: center;
  margin-bottom: 15px;
  color: #3d3d3d;
  font-size: 14px;
}

/* line 1354, ../scss/styles.scss */
#cp-device-ori #cp-gridme .sqr .wrap-img-drag img {
  z-index: 10 !important;
}

/* line 1363, ../scss/styles.scss */
.no-bg-gen {
  background: none !important;
}
#cp-device-ori-to-print{
  position: absolute;
  left: 50%; 
  top: 60px;
  overflow: hidden;
  display: block;
  z-index: 1;
  /*
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
  */
}
.step5 .list{
	padding: 20px 0;
}

.no-phone{ 
  /*
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
  */
}   
.no-phone #cp-mask-img{
  visibility: hidden;
}

.overlay-bg{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,.91);
  display: none;
  z-index: 9999999999;
}
.overlay-bg .loader-canvas{
 background: #000 none repeat scroll 0 0;
border: 1px solid #e5e5e5;
height: 20px;
left: 50%;
margin-left: -140px;
position: relative;
top: 100px;
width: 280px;
}
.overlay-bg .loader-canvas .progress{
  height: 19px;
  background: #fff;
  width: 0%;
  overflow: hidden;
  -webkit-transition-property: width;
  -moz-transition-property: width;
  -o-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.overlay-bg .loader-canvas .progress-txt{
  color: #fff;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    right: 0;
    text-align: center;
    top: -30px;
    width: 100%;
    font-family: 'Poiret One'
}

.overlay-bg .loader-canvas  .progress-title{
   color: #fff;
    display: block;
    font-size: 20px;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    position: absolute;
    text-align: center;
    top: 27px;
    width: 100%;
    font-family: 'Poiret One'
}
#mycase{
  position: relative;
}
a:hover,a:active,a:focus{
  outline: none;
  text-decoration: none;
}
#layer_cart{
	top: 35%;
}
#cp-content #cp-sel-Photos .cp-btn-more-pic .fa-instagram {
    color: #4c4c4c;
    font-size: 30px;
}
#cp-content #cp-sel-Photos .cp-btn-more-pic:hover .fa-instagram {
    color: #fff;
}
#cp-device-ori-to-print #cp-device-ori{
  width: 524px;
}

#cp-device-ori-to-print #cp-gridme, #cp-device-ori-to-print #cp-gridme-cover{
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.cp-wrlst {
    float: left;
    width: 545px;
    overflow: hidden;
    position: relative;
    height: 160px;
}

.cp-device{
  position: relative;
  left: 0;
  top: 0;
}

#cp-content #cp-start .cp-row .cp-brand {
    float: left;
    height: 145px;
    line-height: 145px;
    width: 115px;
}

@media screen and (max-width: 1024px) {
  #cp-gridme-cover .no-visible {
    visibility: visible !important;
  }
  .cp-wrlst{
    overflow: auto;
  }
  .cp-device{
    position: static;
  }
  #cp-content #cp-sel-layout{
    width: 100% !important;
    overflow: auto;
  }
  #cp-content #cp-sel-layout ul{
    left: 0 !important;
  }
}

@media screen and (max-width: 710px) {
  .cp-size-big, .cp-size-big #cp-content,#cp-customize-device, #cp-content,#cp-wrap-content,#cp-start, #cp-customize-device {
      width: 316px !important; 
  }
  .cp-wrlst {
      width: 236px !important;
  }
  #cp-content #cp-head {
      height: 57px;
  }
  #cp-content #cp-head #cp-title-step li i {
      height: 54px;
      line-height: 54px;
  }
  #cp-content #cp-head #cp-link-step {
      height: 50px;
      margin: 0;
      width: 161px;
  }
  #cp-content #cp-start .cp-row .cp-brand i {
      color: #a3a3a3;
      font-size: 30px;
  }
  #cp-content #cp-start .cp-row .cp-brand {
      width: 60px;
      padding: 0 15px;
  }
  #cp-content #cp-start .cp-row .cp-device {
      display: block;
      overflow: auto;
      width: 230px;
  }
  #cp-apple-dev{
    margin-bottom: 30px;
  }
  #cp-content #cp-head #cp-title-step li span {
      left: 8px;
      position: absolute;
      top: 52px;
  }
  #cp-content #cp-start {
      padding: 60px 0 0;
  }
  #cp-content #cp-customize-device .cp-info-dev {
      left: 0;
      padding: 42px 20px 20px;
      position: relative;
      top: 0;
      width: 100%;
  }
  #cp-device-ori, #cp-device-ori-gen {
      right: 0;
  }
  #cp-content #cp-sel-Text {
      margin: 0 auto;
      padding: 28px 0 60px;
      position: relative;
      right: 0;
      top: 0;
      width: 217px;
  }
  #cp-content #cp-sel-Photos {
      margin-left: 16px;
      overflow: hidden;
      position: relative;
      width: 273px;    
  }
  #cp-content #cp-customize-device .cp-btn-action {
      bottom: 0;
      left: 50px;
      position: absolute;
      width: 217px;
      top: auto;
      z-index: 60;
  }
  #cp-content #cp-customize-device .cp-btn-action a{
    clear: none;
    margin-left: 21px;
  }
  #cp-content #cp-sel-layout ul{
    width: 970px;
  }
  #cp-crop-image #cp-cropit-me {
      margin: 0 auto;
      position: relative;
      top: 29px;
      width: 310px;
  }
  .eg-wrapper {
      height: 310px;
      width: 310px;
  }
  .cp-preview {
      position: absolute !important;
      right: 82px;
      top: 439px;
      width: 150px !important;
  }
  #cp-crop-image {
    background: none repeat scroll 0 0 rgba(246, 246, 246, 0.98);
  }
  .overlay-bg .loader-canvas {
      position: relative;
      top: 90px;
  }
}
body,html{
  background: #f6f6f6;
}

/* Fixed Full Screen Page */
#mycase{
  min-height: 600px;
  height: 100%;
}
#mycase #wrap-phone p, #mycase #wrap-phone samp, #mycase #wrap-phone span,#mycase #wrap-phone a{
  font-family: 'Poiret One'
}
#wrap-phone .col{
  position: relative;
}
/*
#mycase .header-container,#mycase .footer-container,#mycase .breadcrumb{
  display: none;
}
*/
#mycase #columns{
  /*max-width: none !important;
  width: 100% !important;*/
  overflow: hidden;
  padding: 0;
}
#mycase{
  background: #f6f6f6;
}
#mycase .cp-info-dev{
  margin-bottom: 60px;
  padding-top: 160px;
}
#mycase .cp-info-dev .cp-title{
  font-size: 38px;
  line-height: 48.4px;
  display: block;
  color: #333;
}
#mycase .cp-info-dev .cp-price{
  font-size: 38px;
  line-height: 48.4px;
  display: block;
  color: #333;
  font-weight: bold;
}
.cp-device li, #cp-sel-layout li{
  /*
  width: 33.3%;
  float: left;
  */
  border-bottom:2px solid #f6f6f6;
  border-right:2px solid #f6f6f6;
  height: 30px;
}
.cp-device li:nth-child(3n+0), #cp-sel-layout li:nth-child(3n+0){
  border-right:0;
}

 
.cp-device li a, #cp-sel-layout li a{
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  height: 100px;
  width: 120px;
}
#cp-sel-layout li, #cp-sel-layout li a{
  height: 100px;
}
.cp-device li a:hover, #cp-sel-layout li a:hover,.cp-device li a.active, #cp-sel-layout li a.active{
  background: #f6f6f6;
}
.cp-device li a span{
  display: block;
  text-align: center;
}
#cp-add-cart{
  text-align: center;
}
.cp-btn-action a{
  display: inline-block;
  font-size: 19px;
  line-height: 22px;
  margin-right:40px;
  text-align: center;
}

.cp-btn-action, .step5 .list{
  display: none;
}
.cp-btn-save{
  display: inline-block;
  font-size: 19px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  display: none;
}
.cp-btn-save i{
  position: relative;
  right: 3px;
  bottom: 1px;
}
.step{
  margin-bottom: 3px;
}
.step.disabled .btn-open{
  opacity : .5;
  filter: alpha(opacity = 50);
  cursor: default;
}
.cp-btn-action a i{
    display: inline-block;
    font-size: 17px;
    margin-right: 5px;
}
.btn-open{
  height: 50px;
  display: block;
  background: #333;
  color: #fff !important;
  font-size: 22px;
  padding: 0 20px;
  line-height: 50px;
}
#accordion-step .list{
  background: #fff;
  overflow: hidden;
}
.step1 .list{
  max-height: 400px;
  overflow: auto !important;
}
.step4 .list{
  padding: 20px 0 15px;
}
.cp-model{
  padding: 20px 0 17px;
  overflow: hidden;
}
.cp-model li{
  width: 25%;
  float: left;
}
.cp-model li a{
  display: block;
  overflow: hidden;
  position: relative;
  border:1px solid #f6f6f6;
  padding-bottom: 20px;
}

.cp-model li a:hover, .cp-model li a.active{
  border-color:#333;
}

.cp-model li a span{
   position: absolute; 
   left: 0;
   bottom: 0;
   display: block;
   width: 100%;
   text-align: center;
   background: #333;
   height: 20px;
   line-height: 20px;
   color: #fff;
}

.cp-model li img{
  width: 100%;
  display: block;
}

.disabled .list{
  display: none;
}

.cp-device img{
  height: 51px;
}

#wrap-phone{
  padding-bottom: 40px;
  overflow: hidden;
}

.btn-open:hover{
  opacity : .9;
  filter: alpha(opacity = 90);
}
.cp-h-v a{
  background: #333;
}
.cp-h-v a:hover{
  opacity : .9;
  filter: alpha(opacity = 90);
}
.cp-h-v a i{
  color: #fff !important;
}
.cp-delete-fast i{
  font-size: 16px;
}

@media only screen and (min-width: 768px) and (max-width: 990px) {
  .btn-open{
    font-size: 15px;
  }
  .jscroll{
    margin: 0;
  }
  #cp-sel-Photos li{
    width: 50%;
    border:0;
  }
  #cp-sel-Photos li a,#cp-sel-Photos li a i{
    width: 100%;
  }
  #cp-crop-image #cp-cropit-me{
    margin-left:30px; 
  }
}
@media only screen and (max-width: 767px) {
  #wrap-phone{
    width: 320px;
    margin: 0 auto;
  }
  #cp-sel-Photos li{
    width: 33%;
    border:0;
  }
  #cp-sel-Photos li a,#cp-sel-Photos li a i{
    width: 100%;
  }
  #mycase .cp-info-dev {
      margin-bottom: 13px;
      padding-top: 30px;
      text-align: center;
  }
  #mycase .cp-info-dev .cp-price {
    font-size: 17px;
    font-weight: bold;
    line-height: normal;
    display: inline;
}
#mycase .cp-info-dev .cp-title {
    color: #333;
    display: inline;
    font-size: 30px;
    line-height: normal;
}
.cp-btn-action{
    text-align: center;
}
}
/* line 1363, ../scss/styles.scss */
.no-bg-gen {
  background: none !important;
}
#cp-device-ori-to-print{
  position: absolute;
  left: 50%; 
  top: 60px;
  overflow: hidden;
  display: block;
  z-index: 1;
  /*
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
  */
}
.step5 .list{
  padding: 20px 0;
}

.no-phone{ 
  /*
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
  */
}   
.no-phone #cp-mask-img{
  visibility: hidden;
}

.overlay-bg{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,.91);
  display: none;
  z-index: 9999999999;
}
.overlay-bg .loader-canvas{
 background: #000 none repeat scroll 0 0;
border: 1px solid #e5e5e5;
height: 20px;
left: 50%;
margin-left: -140px;
position: relative;
top: 100px;
width: 280px;
}
.overlay-bg .loader-canvas .progress{
  height: 19px;
  background: #fff;
  width: 0%;
  overflow: hidden;
  -webkit-transition-property: width;
  -moz-transition-property: width;
  -o-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.overlay-bg .loader-canvas .progress-txt{
  color: #fff;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    right: 0;
    text-align: center;
    top: -30px;
    width: 100%;
    font-family: 'Poiret One'
}

.overlay-bg .loader-canvas  .progress-title{
   color: #fff;
    display: block;
    font-size: 20px;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    position: absolute;
    text-align: center;
    top: 27px;
    width: 100%;
    font-family: 'Poiret One'
}
a:hover,a:active,a:focus{
  outline: none;
  text-decoration: none;
}
#layer_cart{
  top: 35%;
}
#cp-content #cp-sel-Photos .cp-btn-more-pic .fa-instagram {
    color: #4c4c4c;
    font-size: 30px;
}
#cp-content #cp-sel-Photos .cp-btn-more-pic:hover .fa-instagram {
    color: #fff;
}
#cp-device-ori-to-print #cp-device-ori{
  width: 524px;
}

#cp-device-ori-to-print #cp-gridme, #cp-device-ori-to-print #cp-gridme-cover{
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.cp-wrlst {
    float: left;
    width: 545px;
    overflow: hidden;
    position: relative;
    height: 160px;
}

.cp-device{
  position: relative;
  left: 0;
  top: 0;
  max-height: 300px;
  overflow-y: scroll;
}

#cp-content #cp-start .cp-row .cp-brand {
    float: left;
    height: 145px;
    line-height: 145px;
    width: 115px;
}

@media screen and (max-width: 1024px) {
  #cp-gridme-cover .no-visible {
    visibility: visible !important;
  }
  .cp-wrlst{
    overflow: auto;
  }
  .cp-device{
    position: static;
  }
  #cp-content #cp-sel-layout{
    width: 100% !important;
    overflow: auto;
  }
  #cp-content #cp-sel-layout ul{
    left: 0 !important;
  }
}

@media screen and (max-width: 710px) {
  .cp-size-big, .cp-size-big #cp-content,#cp-customize-device, #cp-content,#cp-wrap-content,#cp-start, #cp-customize-device {
      width: 316px !important; 
  }
  .cp-wrlst {
      width: 236px !important;
  }
  #cp-content #cp-head {
      height: 57px;
  }
  #cp-content #cp-head #cp-title-step li i {
      height: 54px;
      line-height: 54px;
  }
  #cp-content #cp-head #cp-link-step {
      height: 50px;
      margin: 0;
      width: 161px;
  }
  #cp-content #cp-start .cp-row .cp-brand i {
      color: #a3a3a3;
      font-size: 30px;
  }
  #cp-content #cp-start .cp-row .cp-brand {
      width: 60px;
      padding: 0 15px;
  }
  #cp-content #cp-start .cp-row .cp-device {
      display: block;
      overflow: auto;
      width: 230px;
  }
  #cp-apple-dev{
    margin-bottom: 30px;
  }
  #cp-content #cp-head #cp-title-step li span {
      left: 8px;
      position: absolute;
      top: 52px;
  }
  #cp-content #cp-start {
      padding: 60px 0 0;
  }
  #cp-content #cp-customize-device .cp-info-dev {
      left: 0;
      padding: 42px 20px 20px;
      position: relative;
      top: 0;
      width: 100%;
  }
  #cp-device-ori, #cp-device-ori-gen {
      right: 0;
  }
  #cp-content #cp-sel-Text {
      margin: 0 auto;
      padding: 28px 0 60px;
      position: relative;
      right: 0;
      top: 0;
      width: 217px;
  }
  #cp-content #cp-sel-Photos {
      margin-left: 16px;
      overflow: hidden;
      position: relative;
      width: 273px;    
  }
  #cp-content #cp-customize-device .cp-btn-action {
      bottom: 0;
      left: 50px;
      position: absolute;
      width: 217px;
      top: auto;
      z-index: 60;
  }
  #cp-content #cp-customize-device .cp-btn-action a{
    clear: none;
    margin-left: 21px;
  }
  #cp-content #cp-sel-layout ul{
    width: 970px;
  }
  #cp-crop-image #cp-cropit-me {
      margin: 0 auto;
      position: relative;
      top: 29px;
      width: 310px;
  }
  .eg-wrapper {
      height: 310px;
      width: 310px;
  }
  .cp-preview {
      position: absolute !important;
      right: 82px;
      top: 439px;
      width: 150px !important;
  }
  #cp-crop-image {
    background: none repeat scroll 0 0 rgba(246, 246, 246, 0.98);
  }
  .overlay-bg .loader-canvas {
      position: relative;
      top: 90px;
  }
}

/* Fixed Full Screen Page */
#mycase{
  min-height: 600px;
  height: 100%;
}
#mycase #wrap-phone p, #mycase #wrap-phone samp, #mycase #wrap-phone span,#mycase #wrap-phone a{
  font-family: 'Poiret One';
  /*
 width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size:large;
  */
}
#wrap-phone .col{
  position: relative;
}
/*
#mycase .header-container,#mycase .footer-container,#mycase .breadcrumb{
  display: none;
}
*/
#mycase #columns{
  /*max-width: none !important;
  width: 100% !important;*/
  overflow: hidden;
  padding: 0;
}
#mycase{
  background: #f6f6f6;
}
#mycase .cp-info-dev{
  margin-bottom: 60px;
  padding-top: 160px;
}
#mycase .cp-info-dev .cp-title{
  font-size: 38px;
  line-height: 48.4px;
  display: block;
  color: #333;
}
#mycase .cp-info-dev .cp-price{
  font-size: 38px;
  line-height: 48.4px;
  display: block;
  color: #333;
  font-weight: bold;
}
.cp-device li, #cp-sel-layout li{
  /*
  width: 33.3%;
  float: left;
  */
  border-bottom:2px solid #f6f6f6;
  border-right:2px solid #f6f6f6;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cp-device li:nth-child(3n+0), #cp-sel-layout li:nth-child(3n+0){
  border-right:0;
}

 
.cp-device li a, #cp-sel-layout li a{

  text-align: center;
  display: table-cell;
  vertical-align: middle;
  height: 30px;
  width: 120px;
}
#cp-sel-layout li, #cp-sel-layout li a{
  height: 100px;
}
.cp-device li a:hover, #cp-sel-layout li a:hover,.cp-device li a.active, #cp-sel-layout li a.active{
  background: #f6f6f6;
}
.cp-device li a span{
  display: block;
  text-align: center;
}
#cp-add-cart{
  text-align: center;
}
.cp-btn-action a{
  display: inline-block;
  font-size: 19px;
  line-height: 22px;
  margin-right:40px;
  text-align: center;
}

.cp-btn-action, .step5 .list{
  display: none;
}
.cp-btn-save{
  display: inline-block;
  font-size: 19px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  display: none;
}
.cp-btn-save i{
  position: relative;
  right: 3px;
  bottom: 1px;
}
.step{
  margin-bottom: 3px;
}
.step.disabled .btn-open{
  opacity : .5;
  filter: alpha(opacity = 50);
  cursor: default;
}
.cp-btn-action a i{
    display: inline-block;
    font-size: 17px;
    margin-right: 5px;
}
.btn-open{
  height: 50px;
  display: block;
  background: #333;
  color: #fff !important;
  font-size: 22px;
  padding: 0 20px;
  line-height: 50px;
}
#accordion-step .list{
  background: #fff;
  overflow: hidden;
}
.step1 .list{
  max-height: 400px;
  overflow: auto !important;
}
.step4 .list{
  padding: 20px 0 15px;
}
.cp-model{
  padding: 20px 0 17px;
  overflow: hidden;
}
.cp-model li{
  width: 25%;
  float: left;
}
.cp-model li a{
  display: block;
  overflow: hidden;
  position: relative;
  border:1px solid #f6f6f6;
  padding-bottom: 20px;
}

.cp-model li a:hover, .cp-model li a.active{
  border-color:#333;
}

.cp-model li a span{
   position: absolute; 
   left: 0;
   bottom: 0;
   display: block;
   width: 100%;
   text-align: center;
   background: #333;
   height: 20px;
   line-height: 20px;
   color: #fff;
}

.cp-model li img{
  width: 100%;
  display: block;
}

.disabled .list{
  display: none;
}

.cp-device img{
  height: 51px;
}

#wrap-phone{
  padding-bottom: 40px;
  overflow: hidden;
}

.btn-open:hover{
  opacity : .9;
  filter: alpha(opacity = 90);
}
.cp-h-v a{
  background: #333;
}
.cp-h-v a:hover{
  opacity : .9;
  filter: alpha(opacity = 90);
}
.cp-h-v a i{
  color: #fff !important;
}
.cp-delete-fast i{
  font-size: 16px;
}

@media only screen and (min-width: 768px) and (max-width: 990px) {
  .btn-open{
    font-size: 15px;
  }
  .jscroll{
    margin: 0;
  }
  #cp-sel-Photos li{
    width: 50%;
    border:0;
  }
  #cp-sel-Photos li a,#cp-sel-Photos li a i{
    width: 100%;
  }
  #cp-crop-image #cp-cropit-me{
    margin-left:30px; 
  }
}
@media only screen and (max-width: 767px) {
  #wrap-phone{
    width: 320px;
    margin: 0 auto;
  }
  #cp-sel-Photos li{
    width: 33%;
    border:0;
  }
  #cp-sel-Photos li a,#cp-sel-Photos li a i{
    width: 100%;
  }
  #mycase .cp-info-dev {
      margin-bottom: 13px;
      padding-top: 30px;
      text-align: center;
  }
  #mycase .cp-info-dev .cp-price {
    font-size: 17px;
    font-weight: bold;
    line-height: normal;
    display: inline;
}
#mycase .cp-info-dev .cp-title {
    color: #333;
    display: inline;
    font-size: 30px;
    line-height: normal;
}
.cp-btn-action{
    text-align: center;
}
}
#cp-sel-Device{
  padding-top: 40px;
}
#mycase .container-fluid{
  padding: 0;
}

.cp-choose-dev-button, #fromComputer, .size-cp, .font-cp, .cp-btn-save{
  width: 100% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-weight: bold !important;
  font-size:large !important;
}

.tit-prod{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size:large;
}

.cp-btn-more-pic{
  display:flex;
}
